MCP_SNR_vs_Iter/*
phase_plot_logs_train/*
phase_plot_logs_train/*
phase_plot_sim_data_train/*
phase_plot_sim_results_test/*
phase_plot_sim_results_train/*
phase_plots_vals_train/*
phase_plot_sim_data_test/*
__pycache__/*